@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    color: rgb(247, 183, 255); 
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: space-between;
}

.navbar-container {
   display:flex;
   justify-content: space-between;

}
      
.navbar-logo {
    height: 140px;
    width: 275px;
}

.navbar-links {
    display: flex; 
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    position: absolute;
    right: 0px;
    top: 90px;
    text-shadow: 0 0 20px rgb(232, 68, 164);
}

.navbar-neon {
    position: relative;
    margin-right: 45px;
}

.navbar-neon a{
    text-decoration: none;
    color: rgb(247, 183, 255); 
}

.navbar-neon a:after{
    content:"";
    position: absolute;
    background-color: antiquewhite;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-neon a:hover {
    color:rgb(232, 68, 164);
}

.navbar-neon:hover a:after{
    width: 100%;
}

.navbar-links link{
   
}

