
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@900&display=swap');

.navbar {
    color: white; 
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: space-between;
}

.navbar-container {
   display:flex;
   justify-content: space-between;

}
      
.navbar-logo {
    height: 140px;
}

.navbar-links {
    display: flex; 
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    position: absolute;
    right: 0px;
    top: 90px;
}

.navbar-links li{
    margin-right: 45px;
}

